{% extends 'base.html.twig' %}

{% block title %}
	{{pageTitle}}
{% endblock %}

{% block body %}
	{% if app.user == profileUser %}
		<div class="d-flex flex-column align-items-center">
			<h2 class="text-center mt-4 mb-4"></h2>
			<div class="d-flex justify-content-center avatarProfilContainer">
				{% if profileUser.avatar == null %}
					<img src="{{ asset('assets/images/profil.png') }}" alt="" class="avatarProfil">
				{% else %}
					<img src="{{ asset('uploads/pictures/' ~ profileUser.avatar) }}" alt="" class="avatarProfil">
				{% endif %}
			</div>

			<div class="card" style="width: 22rem;">
				<div class="card-body">
					<h5 class="card-title mb-3">Vos informations :</h5>
					<p class="card-subtitle mb-2 text-body-secondary ms-5">Pseudo :
						{{app.user.pseudo}}</p>
					<p class="card-subtitle mb-2 text-body-secondary ms-5">Adresse mail :
						{{app.user.email}}</p>
					<p class="card-subtitle mb-2 text-body-secondary ms-5">Créé le :
						{{app.user.createdAt | date('d/m/y')}}</p>
				</div>
			</div>
			<a href="{{path('app_edit_profil', {'id': profileUser.id})}}" class="btn mt-4">Modifier les informations</a>
		</div>
	{% else %}
		<div class="d-flex flex-column align-items-center">
			<div class="d-flex justify-content-center avatarProfilContainer mt-4">
				{% if profileUser.avatar == null %}
					<img src="{{ asset('assets/images/profil.png') }}" alt="" class="avatarProfil">
				{% else %}
					<img src="{{ asset('uploads/pictures/' ~ profileUser.avatar) }}" alt="" class="avatarProfil">
				{% endif %}
			</div>
			<h2 class="text-center mt-4 mb-4">
				{{profileUser.pseudo}}
			</h2>
		</div>
	{% endif %}

	<div class="d-flex justify-content-center">
		<div class="d-flex containerProfil w-50">
			<div class="videosProfil p-4 ">
				<h5 class="titleVideosProfil" id="videoTab">Vidéos</h5>
				<div class="d-flex flex-column mt-4" id="tabVideo">
					{% for video in profileUser.videos %}
						<div style="position: relative;">
							<div class="card cardHover d-flex flex-row containerVideoProfil" onclick="window.location='{{path('app_single_video', {'id': video.id})}}'" style="cursor: pointer;" tabindex="1">

								<div class="cardHover miniatureProfil">
									<img class="card-img-top" src="{{ asset('uploads/videos/pictures/' ~ video.image) }}" alt="Card image cap">
								</div>

								<div class="card-body d-flex flex-row">
									<div class="contentCardVideo p-5">
										<h5 class="card-title">{{video.title}}</h5>
										<p class="card-text date" id="date-{{video.id}}">{{video.createdAt|date('d/m/Y H:i')}}</p>
									</div>
								</div>
							</div>
							{% if app.user.id == video.user.id %}

								<button type="button" class="removeComment" data-bs-toggle="modal" data-bs-target="#videoModal{{video.id}}"></button>

								<!-- Modal -->
								<div class="modal fade" id="videoModal{{video.id}}" tabindex="-1" aria-labelledby="videoModal{{video.id}}Label" aria-hidden="true">
									<div class="modal-dialog">
										<div class="modal-content">
											<div class="modal-header">
												<h1 class="modal-title fs-5" id="videoModal{{video.id}}Label">Suppression de la vidéo</h1>
												<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
											</div>
											<div class="modal-body">
												Voulez vous vraiment supprimer votre vidéo ?
											</div>
											<div class="modal-footer">
												<a href="{{path('app_remove_video_profil', {'id': video.id})}}" class="btn btn-red">Supprimer</a>
												<button type="button" class="btn btn-primary btn-dismiss">Annuler</button>
											</div>
										</div>
									</div>
								</div>
							{% endif %}
						</div>
					{% endfor %}
				</div>
			</div>

			<div class="p-4">
				<h5 class="titleCommentsProfil" id="commentTab">Commentaires</h5>
				<div class="d-flex flex-column mt-4 commentsProfil notActiveTab" id="tabComment">
					{% for comment in profileUser.comments %}
						<div style="position: relative;">
							<div class="card cardHover d-flex flex-row containerVideoProfil" onclick="window.location='{{path('app_single_video', {'id': comment.video.id})}}'" style="cursor: pointer;" tabindex="1">

								<div class="cardHover miniatureProfil">
									<img class="card-img-top" src="{{ asset('uploads/videos/pictures/' ~ comment.video.image) }}" alt="Card image cap">
								</div>

								<div class="card-body d-flex flex-row">
									<div class="contentCardVideo p-5">
										<h5 class="card-title">{{comment.video.title}}</h5>
										<p class="card-text">{{comment.user.pseudo}}
											:
											{{comment.content}}</p>
										<p class="card-text date" id="date-{{comment.id}}">{{comment.createdAt|date('d/m/Y H:i')}}</p>
									</div>
								</div>
							</div>
							{% if app.user.id == comment.user.id %}

								<button type="button" class="removeComment" data-bs-toggle="modal" data-bs-target="#commentModal{{comment.id}}"></button>


								<!-- Modal -->
								<div class="modal fade" id="commentModal{{comment.id}}" tabindex="-1" aria-labelledby="commentModal{{comment.id}}Label" aria-hidden="true">
									<div class="modal-dialog">
										<div class="modal-content">
											<div class="modal-header">
												<h1 class="modal-title fs-5" id="commentModal{{comment.id}}Label">Suppression du commentaire</h1>
												<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
											</div>
											<div class="modal-body">
												Voulez vous vraiment supprimer votre commentaire ?

											</div>
											<div class="modal-footer">
												<a href="{{path('app_remove_comment', {'id': comment.id})}}" class="btn btn-red">Supprimer</a>
												<button type="button" class="btn btn-primary btn-dismiss">Annuler</button>
											</div>
										</div>
									</div>
								</div>
							{% endif %}
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>

{% endblock %}
