{% extends 'base.html.twig' %}

{% block title %}
	{{video.title}}
	| UsTube
{% endblock %}

{% block body %}
	<div class="d-flex justify-content-start mt-5">
		<div class="d-flex flex-column ms-5 videoDetail">
			<video controls src="{{ asset('uploads/videos/srcVideos/' ~ video.pathVideo) }}" poster="{{ asset('assets/uploads/images/' ~ video.image) }}" type="video/mp4" class="videoPlayer mb-4"></video>
			<div>
				<h2>{{video.title}}</h2>
				<div class="d-flex align-items-center">
					<div class="imgAvatarVideoDetail">
						<img src="{{ asset('uploads/pictures/' ~ video.user.avatar)}}" alt="" style="cursor: pointer;" class="avatarVideo" onclick="window.location='{{path('app_profil', {'id': video.user.id})}}'">
					</div>
					<div>
						<a href="{{path('app_profil', {'id': video.user.id})}}" class="pseudoLink">
							<p class="card-text">{{video.user.pseudo}}</p>
						</a>
					</div>
				</div>
			</div>
			<div class="descriptionVideo mt-4">
				<p class="card-text date" id="date-{{video.id}}">{{video.createdAt|date('d/m/Y H:i')}}</p>
				<p>{{video.description}}</p>
			</div>
		</div>
	</div>
{% endblock %}
