{% extends 'base.html.twig' %}

{% block title %}Hello SingleVideoController!
{% endblock %}

{% block body %}
	<section>
		<h2>{{video.title}}</h2>
		<video controls src="{{ asset('uploads/videos/srcVideos/' ~ video.pathVideo) }}" poster="{{ asset('assets/uploads/images/' ~ video.image) }}" type="video/mp4" class="videoPlayer"></video>
		<p>Créer le
			{{video.createdAt|date('d/m/Y')}}</p>
		<p>{{video.description}}</p>
	</section>
{% endblock %}
