{% extends 'base.html.twig' %}

{% block title %}
	{{video.title}}
	| UsTube
{% endblock %}

{% block body %}
	<div class="d-flex align-items-start mt-5">
		<div class="d-flex flex-column ms-5 videoDetail">
			<video controls src="{{ asset('uploads/videos/srcVideos/' ~ video.pathVideo) }}" poster="{{ asset('assets/uploads/images/' ~ video.image) }}" type="video/mp4" class="videoPlayer mb-4"></video>
			<div>
				<h2>{{video.title}}</h2>
				<div class="d-flex align-items-center">
					<div class="imgAvatarVideoDetail">
						<a href="{{path('app_profil', {'id': video.user.id})}}">
							<img src="{{ asset('uploads/pictures/' ~ video.user.avatar)}}" alt="" style="cursor: pointer;" class="avatarVideo">
						</a>
					</div>
					<div>
						<a href="{{path('app_profil', {'id': video.user.id})}}" class="pseudoLink">
							<p class="card-text">{{video.user.pseudo}}</p>
						</a>
					</div>
				</div>
			</div>
			<div class="descriptionVideo mt-4">
				<p class="card-text date" id="date-{{video.id}}">{{video.createdAt|date('d/m/Y H:i')}}</p>
				<p>{{video.description}}</p>
			</div>
		</div>

		<div class="videoList">
			{% for randomVideo in randomVideos %}

				<div class="d-flex cardVideoList cardHover" onclick="window.location='{{path('app_single_video', {'id': randomVideo.id})}}'" style="cursor: pointer;">
					<div class="cardImgVideoList cardHover" style="border-radius: 15px;">
						<img src="{{ asset('uploads/videos/pictures/' ~ randomVideo.image)}}" alt="" class="imgVideoList card-img-top ">
					</div>
					<div class="d-flex flex-column cardBodyVideoList">
						<p class="card-title mb-2 cardTitleVideoList">{{randomVideo.title}}</p>
						<div>
							<a href="{{path('app_profil', {'id': randomVideo.user.id})}}" class="pseudoLink">
								{{randomVideo.user.pseudo}}
							</a>
							<p class="card-text date" id="date-{{randomVideo.id}}">{{randomVideo.createdAt|date('d/m/Y H:i')}}</p>
						</div>
					</div>
				</div>

			{% endfor %}
		</div>
	</div>
{% endblock %}
