{% extends 'base.html.twig' %}

{% block title %}
	{{video.title}}
	| UsTube
{% endblock %}

{% block body %}
	<div class="d-flex align-items-start mt-5 mb-5">
		<div class="d-flex flex-column ms-5 videoDetail">
			<video controls src="{{ asset('uploads/videos/srcVideos/' ~ video.pathVideo) }}" poster="{{ asset('assets/uploads/images/' ~ video.image) }}" type="video/mp4" class="videoPlayer mb-4"></video>
			<div>
				<h2>{{video.title}}</h2>
				<div class="d-flex align-items-center">
					<div class="imgAvatarVideoDetail">
						<a href="{{path('app_profil', {'id': video.user.id})}}">
							<img src="{{ asset('uploads/pictures/' ~ video.user.avatar)}}" alt="" style="cursor: pointer;" class="avatarVideoDetail">
						</a>
					</div>
					<div>
						<a href="{{path('app_profil', {'id': video.user.id})}}" class="pseudoLink">
							<p class="card-text">{{video.user.pseudo}}</p>
						</a>
					</div>
				</div>
			</div>
			<div class="descriptionVideo mt-4">
				<p class="card-text date" id="date-{{video.id}}">{{video.createdAt|date('d/m/Y H:i')}}</p>
				<p>{{video.description}}</p>
			</div>

			{% if app.user != null %}
				{{form_start(commentForm)}}
				<div class="d-flex w-100 align-items-center">
					<div class="imgAvatarComment">
						<a href="{{path('app_profil', {'id': video.user.id})}}"><img src="{{ asset('uploads/pictures/' ~ app.user.avatar)}}" alt="" class="avatarVideo"></a>
					</div>

					<div class="commentInput">
						{{ form_widget(commentForm.content)}}
						{{ form_label(commentForm.content, null, {'label_attr': {'class': 'floating-labelPassword commentLabel'}}) }}
					</div>
				</div>
				<div class="d-flex justify-content-end">
					{{form_row(commentForm.submit)}}
				</div>

				{{form_end(commentForm)}}
			{% endif %}

			<div class="d-flex flex-column mt-3">
				{% for comment in video.comments %}
					<div class="d-flex mb-4">
						<div class="d-flex containerComment">
							<div class="imgAvatarComment">
								<a href="{{path('app_profil', {'id': comment.user.id})}}">
									{% if comment.user.avatar == null %}
										<img src="{{ asset('assets/images/profil.png')}}" alt="" class="avatarVideo">
									{% else %}
										<img src="{{ asset('uploads/pictures/' ~ comment.user.avatar)}}" alt="" class="avatarVideo">
									{% endif %}
								</a>
							</div>
							<div class="">
								<div class="d-flex flex-column">
									<div class="d-flex">
										<a href="{{path('app_profil', {'id': comment.user.id})}}" class="pseudoLink ">{{comment.user.pseudo}}</a>
										<p class="card-text date dateComment" id="date-{{comment.id}}">{{comment.createdAt|date('d/m/Y H:i')}}</p>
									</div>
									<p>{{comment.content}}</p>
								</div>
							</div>
						</div>
						{% if app.user != null %}

							{% if app.user.id == comment.user.id %}
								<div style="position: relative;">
									<button type="button" class="removeComment" data-bs-toggle="modal" data-bs-target="#exampleModal"></button>

									<!-- Modal -->
									<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
										<div class="modal-dialog">
											<div class="modal-content">
												<div class="modal-header">
													<h1 class="modal-title fs-5" id="exampleModalLabel">Suppression du commentaire</h1>
													<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
												</div>
												<div class="modal-body">
													Voulez vous vraiment supprimer votre commentaire ?
												</div>
												<div class="modal-footer">
													<a href="{{path('app_remove_comment', {'id': comment.id})}}" class="btn btn-red">Supprimer</a>
													<button type="button" class="btn btn-primary btn-dismiss">Annuler</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							{% endif %}
						{% endif %}
					</div>
				{% endfor %}
			</div>
		</div>

		<div class="videoList">
			{% for randomVideo in randomVideos %}

				<div class="d-flex cardVideoList cardHover" onclick="window.location='{{path('app_single_video', {'id': randomVideo.id})}}'" style="cursor: pointer;">
					<div class="cardImgVideoList cardHover" style="border-radius: 15px;">
						<img src="{{ asset('uploads/videos/pictures/' ~ randomVideo.image)}}" alt="" class="imgVideoList card-img-top ">
					</div>
					<div class="d-flex flex-column cardBodyVideoList">
						<p class="card-title mb-2 cardTitleVideoList">{{randomVideo.title}}</p>
						<div>
							<a href="{{path('app_profil', {'id': randomVideo.user.id})}}" class="pseudoLink">
								{{randomVideo.user.pseudo}}
							</a>
							<p class="card-text date" id="date-{{randomVideo.id}}">{{randomVideo.createdAt|date('d/m/Y H:i')}}</p>
						</div>
					</div>
				</div>

			{% endfor %}
		</div>
	</div>


{% endblock %}
