{% extends 'base.html.twig' %}

{% block title %}Modifier
	{{video.title}}
	| UsTube
{% endblock %}

{% block body %}

	<section>
		<div class="loginForm">
			<h2 class="mb-3 text-center">
				Mettre en ligne une vidéo
			</h2>
			{{form_start(form)}}
			{% for label,message in app.flashes %}
				<div class="alert alert-{{label}}">
					{{ message[0] }}
				</div>
			{% endfor %}
			{{ form_errors(form) }}


			<div class="field-form">
				<div class="field-form">
					<div class="input-container">
						{{form_label(form.title) }}
						{{form_widget(form.title) }}
					</div>
					<div class="input-container">
						{{ form_label(form.description) }}
						{{ form_widget(form.description) }}
					</div>
					<div>
						{{form_label(form.path_video)}}
						{{form_widget(form.path_video)}}
					</div>
					<div>
						{{form_label(form.image)}}
						{{form_widget(form.image)}}
					</div>
				</div>

				<div class="btn-form">
					{{form_row(form.submit)}}
				</div>
				{{form_end(form)}}
			</div>
		</section>

	{% endblock %}
