{% extends 'base.html.twig' %}

{% block title %}Mettre en ligne | UsTube
{% endblock %}

{% block body %}
	<section class="form">
		<h1>
			Mettre en ligne une vidéo
		</h1>
		{% for label,message in app.flashes %}
			<div class="alert alert-{{label}}">
				{{ message[0] }}
			</div>
		{% endfor %}
		{{ form_errors(addVideoForm) }}

		{{form_start(addVideoForm)}}
		<div class="field-form">
			<div class="field-form">
				<div class="input-container">
					{{form_widget(addVideoForm.title)}}
					{{form_label(addVideoForm.title, null, {'label_attr': {'class': 'floating-labelEmail'}}) }}
				</div>
				<div class="input-container">
					{{ form_widget(addVideoForm.description, {'attr': {'class': 'inputPassword'}}) }}
					{{ form_label(addVideoForm.description, null, {'label_attr': {'class': 'floating-labelPassword'}}) }}
				</div>
				<div class="input-container">
					{{form_row(addVideoForm.path_video)}}
				</div>
				<div class="input-container">
					{{form_row(addVideoForm.image)}}
				</div>

			</div>

			<div class="btn-form">
				{{form_row(addVideoForm.submit)}}
			</div>
			{{form_end(addVideoForm)}}
		</section>


	{% endblock %}
